/**
 * Fix for vw, vh, vmin, vmax on iOS 7.
 * http://caniuse.com/#feat=viewport-units
 *
 * @author BenMorel
 * https://gist.github.com/BenMorel/e9e34c08360ebbbd0634
 *
 * This fix works by replacing viewport units with px values on known screen sizes.
 *
 * iPhone 6 and 6 Plus cannot run iOS 7, so are not targeted by this fix.
 * Target devices running iOS 8+ will incidentally execute the media query,
 * but this will still produce the expected result; so this is not a problem.
 *
 * As an example, replace:
 *
 *   height: 50vh;
 *   font-size: 5vmin;
 *
 * with:
 *
 *   @include viewport-unit(height, 50vh);
 *   @include viewport-unit(font-size, 5vmin);
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

html, body {
  height: 100%; }

html {
  font-family: "Open Sans", Helvetica, Arial, Geneva, sans-serif;
  font-size: 100%;
  color: #333;
  -webkit-font-smoothing: antialiased; }

body {
  position: relative;
  height: 100%;
  background-color: #0099ff;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #e6e6e6), color-stop(100%, #e6e6e6));
  background-image: -moz-linear-gradient(left, #e6e6e6, #e6e6e6);
  background-image: -webkit-linear-gradient(left, #e6e6e6, #e6e6e6);
  background-image: linear-gradient(to right, #e6e6e6, #e6e6e6);
  background-position: 0 100vh;
  background-size: 10000%;
  background-repeat: no-repeat; }

div.wrap, .wrap {
  overflow: hidden;
  *zoom: 1;
  width: 60rem;
  margin: 0 auto; }

strong {
  font-weight: 700; }

[class^="icon-"], [class*=" icon-"] {
  height: 2rem;
  width: 2rem;
  display: inline-block;
  fill: currentColor; }

button {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  outline: none; }
  button:hover {
    cursor: pointer; }
  button.round {
    width: 3.5rem;
    height: 3.5rem;
    background-color: #f5f5f5;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
    button.round svg {
      padding-top: 0.1em;
      fill: #666; }
    button.round:hover {
      background-color: #e6e6e6; }
      button.round:hover svg {
        fill: #333; }

a.button {
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: #0099ff;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  color: #fff; }
  a.button:hover {
    background-color: #336699; }

div.box-meta-cta {
  background-color: #f5f5f5;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  height: 5rem;
  display: -webkit-flex;
  display: flex;
  font-size: 1.5rem; }
  div.box-meta-cta > span {
    float: left;
    width: 70%;
    display: -webkit-flex;
    display: flex; }
    div.box-meta-cta > span svg, div.box-meta-cta > span p {
      -webkit-align-self: center;
      align-self: center; }
  div.box-meta-cta svg {
    fill: #0099ff;
    margin-left: 1em;
    margin-right: -0.5em; }
  div.box-meta-cta p {
    margin-left: 1em; }
  div.box-meta-cta a {
    text-decoration: none;
    color: #0099ff;
    font-weight: 600; }
    div.box-meta-cta a:hover {
      color: #336699; }
  div.box-meta-cta a.button {
    float: left;
    width: 30%;
    min-width: 10rem;
    color: #fff;
    line-height: 5rem;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px; }

.colab-red {
  background-color: #ff6633 !important;
  color: #fff !important; }
  .colab-red:hover {
    background-color: #fff !important;
    color: #0099ff !important; }

.about {
  background-color: #336699 !important;
  color: #fff !important; }
  .about:hover {
    background-color: #fff !important;
    color: #0099ff !important; }

.blue {
  background-color: #0099ff !important;
  color: inherit !important; }
  .blue:hover {
    background-color: #fff !important;
    color: #0099ff !important; }

.blue-light {
  background-color: #00ffff !important;
  color: inherit !important; }
  .blue-light:hover {
    background-color: #fff !important;
    color: #0099ff !important; }

.yellow-light {
  background-color: #ffff00 !important;
  color: inherit !important; }
  .yellow-light:hover {
    background-color: #fff !important;
    color: #0099ff !important; }

.white {
  background-color: #fff !important;
  color: #0099FF !important; }
  .white:hover {
    background-color: #fff !important;
    color: #0099ff !important; }

header.main-header {
  overflow: hidden;
  *zoom: 1;
  height: 10rem;
  position: relative;
  z-index: 777;
  width: 100%; }
  header.main-header h1.logo {
    float: left; }
    header.main-header h1.logo a {
      display: block;
      width: 10rem;
      line-height: 10rem; }
      header.main-header h1.logo a img {
        width: inherit;
        vertical-align: middle; }

button.open-menu {
  float: right;
  margin: 3.6rem 2.5rem;
  background-color: #0099ff; }
  button.open-menu svg {
    fill: #fff;
    width: 2.5em;
    height: 2.5em; }
  button.open-menu:hover {
    background-color: #fff; }
    button.open-menu:hover svg {
      fill: #0099ff; }

nav.main-nav {
  position: fixed;
  z-index: 999;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  visibility: hidden;
  /*
  	ol.menu {
  		float: left;
  		width: 100%;
  		margin-top: -2rem;
  		margin-left: 2rem;
  
  		li {
  			padding-left: 2em;
  
  			a {
  				display: block;
  				float: left;
  				clear: both;
  				padding: 0 0 1em 1.5em;
  
  				font-size: $font-bigger;
  				text-decoration: none;
  				text-align: center;
  				color: $blue;
  
  				background-color: #fff;
  				background-image: url("../img/bkg_menu_li.svg");
  				background-position: 0 0;
  				background-repeat: no-repeat;
  				background-size: 1em;
  
  				&.active {
  					//font-weight: $bold;
  				}
  				
  			}
  
  			ol {
  				padding-bottom: 1em;
  				overflow: hidden;
  				float: left;
  				clear: both;
  
  				li {
  
  					a {
  						font-size: $font-big;
  
  						&:hover {
  							background-position: 0 -100px;
  						}
  
  						&.active {
  							background-position: 0 -200px;
  							font-weight: $medium;
  						}
  					}
  
  					&:last-child {
  						a {
  							padding-bottom: 0;
  						}						
  					}
  				}
  			}
  
  		}//li
  
  		> li {
  			padding-left: 0;
  			> a {
  				padding: 0 0 0.5em 0;
  				background: none;
  			}
  		}	
  
  	}//ol.menu
  
  */ }
  nav.main-nav a.logo {
    display: block;
    float: left;
    width: 10rem;
    line-height: 10rem; }
    nav.main-nav a.logo img {
      width: inherit;
      vertical-align: middle; }
  nav.main-nav button.open-menu:hover {
    background-color: #0099ff; }
    nav.main-nav button.open-menu:hover svg {
      fill: #fff; }
  nav.main-nav ol.menu {
    float: left;
    clear: both;
    border-top: #0099ff 0.5rem solid;
    padding-top: 1rem;
    width: 10rem; }
    nav.main-nav ol.menu li {
      margin-bottom: 1em; }
      nav.main-nav ol.menu li a {
        opacity: 0.7;
        font-size: 1.5rem;
        text-decoration: none;
        color: #0099ff; }
        nav.main-nav ol.menu li a:hover, nav.main-nav ol.menu li a:active, nav.main-nav ol.menu li a.active {
          opacity: 1; }
        nav.main-nav ol.menu li a.active {
          font-weight: 600; }
  nav.main-nav.active {
    visibility: visible;
    opacity: 1; }

section.banner {
  overflow: hidden;
  *zoom: 1;
  min-height: 10rem;
  margin-top: -10rem;
  background-color: #0099ff; }

footer.main-footer {
  height: 500px; }

form input,
form button,
form textarea, .form input,
.form button,
.form textarea {
  font: inherit;
  display: block;
  color: #333;
  line-height: 2.5rem;
  padding: 0 0.7rem;
  border: none;
  outline: none; }
form textarea, .form textarea {
  line-height: 1.5em; }
form legend,
form label, .form legend,
.form label {
  display: none; }

@media screen and (max-width: 82.5rem) {
  div.wrap, .wrap {
    width: 60rem; } }
@media screen and (max-width: 62.5rem) {
  div.wrap, .wrap {
    width: 100%; }

  header.main-header h1.logo {
    margin: 0 2.5rem; }

  nav.main-nav a.logo, nav.main-nav ul.menu {
    margin-left: 2.5rem; }
  nav.main-nav ol.menu {
    margin-left: 4.5rem; } }
body.home section.banner {
  height: 100vh;
  min-height: 768px;
  margin-top: -10rem; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    body.home section.banner {
      height: 1024px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    body.home section.banner {
      height: 768px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    body.home section.banner {
      height: 480px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    body.home section.banner {
      height: 320px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    body.home section.banner {
      height: 568px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    body.home section.banner {
      height: 320px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 375px) and (device-height: 667px) and (orientation: portrait) {
    body.home section.banner {
      height: 667px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 375px) and (device-height: 667px) and (orientation: landscape) {
    body.home section.banner {
      height: 375px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 414px) and (device-height: 736px) and (orientation: portrait) {
    body.home section.banner {
      height: 736px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 414px) and (device-height: 736px) and (orientation: landscape) {
    body.home section.banner {
      height: 414px; } }
  body.home section.banner h2.tagline {
    font-size: 2rem;
    font-weight: 300;
    color: #fff;
    line-height: 1.2em;
    margin-top: 5em; }
    body.home section.banner h2.tagline strong {
      font-weight: 600; }
body.home section.matrix {
  position: relative;
  z-index: 777;
  margin-top: -20rem; }
  body.home section.matrix article {
    position: relative;
    float: left;
    height: 0;
    font-size: 1.1rem;
    background-color: #ccc;
    color: #333;
    -moz-transition: background-color 0.2s, color 0.2s;
    -o-transition: background-color 0.2s, color 0.2s;
    -webkit-transition: background-color 0.2s, color 0.2s;
    transition: background-color 0.2s, color 0.2s;
    overflow: hidden;
    width: 20rem;
    padding-bottom: 20rem; }
    body.home section.matrix article.col2 {
      width: 20rem; }
    body.home section.matrix article.col4 {
      width: 40rem; }
    body.home section.matrix article.col6 {
      width: 60rem; }
    body.home section.matrix article.row2 {
      padding-bottom: 20rem; }
    body.home section.matrix article.row4 {
      padding-bottom: 40rem; }
    body.home section.matrix article.row6 {
      padding-bottom: 60rem; }
    body.home section.matrix article svg {
      height: 10rem;
      width: 10rem;
      padding: 5rem;
      float: left; }
    body.home section.matrix article header {
      padding: 2.5rem; }
      body.home section.matrix article header h3 {
        font-size: 2rem;
        font-weight: 600;
        padding-bottom: 0.5em; }
      body.home section.matrix article header p {
        line-height: 1.2em; }
    body.home section.matrix article > a {
      position: absolute;
      left: 1em;
      top: 1em;
      color: transparent; }
    body.home section.matrix article:hover {
      background-color: #fff;
      color: #0099ff;
      cursor: pointer; }
      body.home section.matrix article:hover a {
        opacity: 1; }
@media screen and (max-width: 62.5rem) {
  body.home section.banner h2 {
    padding: 0 2.5rem; }
  body.home section.matrix article.col2 {
    width: 33.333%; }
  body.home section.matrix article.col4 {
    width: 66.666%; }
  body.home section.matrix article.col6 {
    width: 99.999%; }
  body.home section.matrix article header h3 {
    font-size: 3.5vw; } }
@media screen and (max-width: 50rem) {
  body.home section.banner h2.tagline br {
    display: none; }
  body.home section.matrix article.col2, body.home section.matrix article.col4, body.home section.matrix article.col6 {
    width: 100%; }
  body.home section.matrix article header h3 {
    font-size: 2em; } }
