/**
 * Fix for vw, vh, vmin, vmax on iOS 7.
 * http://caniuse.com/#feat=viewport-units
 *
 * @author BenMorel
 * https://gist.github.com/BenMorel/e9e34c08360ebbbd0634
 *
 * This fix works by replacing viewport units with px values on known screen sizes.
 *
 * iPhone 6 and 6 Plus cannot run iOS 7, so are not targeted by this fix.
 * Target devices running iOS 8+ will incidentally execute the media query,
 * but this will still produce the expected result; so this is not a problem.
 *
 * As an example, replace:
 *
 *   height: 50vh;
 *   font-size: 5vmin;
 *
 * with:
 *
 *   @include viewport-unit(height, 50vh);
 *   @include viewport-unit(font-size, 5vmin);
 */
body.login h1 a {
  background-image: url("../img/logo_blue.svg");
  background-size: 10rem;
  background-position: center center;
  background-repeat: no-repeat;
  width: 10rem; }
body.login form#loginform {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }
body.login p#nav a,
body.login p#backtoblog a {
  color: #0099ff; }
  body.login p#nav a:hover,
  body.login p#backtoblog a:hover {
    color: #0099ff;
    text-decoration: underline; }
body.login p#backtoblog {
  display: none; }
