/**
 * Fix for vw, vh, vmin, vmax on iOS 7.
 * http://caniuse.com/#feat=viewport-units
 *
 * @author BenMorel
 * https://gist.github.com/BenMorel/e9e34c08360ebbbd0634
 *
 * This fix works by replacing viewport units with px values on known screen sizes.
 *
 * iPhone 6 and 6 Plus cannot run iOS 7, so are not targeted by this fix.
 * Target devices running iOS 8+ will incidentally execute the media query,
 * but this will still produce the expected result; so this is not a problem.
 *
 * As an example, replace:
 *
 *   height: 50vh;
 *   font-size: 5vmin;
 *
 * with:
 *
 *   @include viewport-unit(height, 50vh);
 *   @include viewport-unit(font-size, 5vmin);
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

html, body {
  height: 100%; }

html {
  font-family: "Open Sans", Helvetica, Arial, Geneva, sans-serif;
  font-size: 100%;
  color: #333;
  -webkit-font-smoothing: antialiased; }

body {
  position: relative;
  height: 100%; }

div.wrap, .wrap {
  overflow: hidden;
  *zoom: 1;
  width: 100%; }

strong {
  font-weight: 700; }

[class^="icon-"], [class*=" icon-"] {
  height: 2rem;
  width: 2rem;
  display: inline-block;
  fill: currentColor; }

.colab-red {
  background-color: #ff6633 !important;
  color: #fff !important; }

.colab-blue {
  background-color: #336699 !important;
  color: #fff !important; }

.blue {
  background-color: #0099ff !important;
  color: inherit !important; }

.blue-light {
  background-color: #00ffff !important;
  color: inherit !important; }

.yellow-light {
  background-color: #ffff00 !important;
  color: inherit !important; }

.grey-light {
  background-color: #eee !important;
  color: inherit !important; }

.white {
  background-color: #fff !important;
  color: #0099FF !important; }

header.main-header {
  height: 10rem;
  position: relative;
  z-index: 777; }
  header.main-header h1.logo a {
    width: 10rem;
    line-height: 10rem; }
    header.main-header h1.logo a img {
      width: inherit;
      vertical-align: middle; }

section.banner {
  overflow: hidden;
  *zoom: 1;
  min-height: 10rem;
  margin-top: -10rem;
  background-color: #0099ff; }
