/**
 * Fix for vw, vh, vmin, vmax on iOS 7.
 * http://caniuse.com/#feat=viewport-units
 *
 * @author BenMorel
 * https://gist.github.com/BenMorel/e9e34c08360ebbbd0634
 *
 * This fix works by replacing viewport units with px values on known screen sizes.
 *
 * iPhone 6 and 6 Plus cannot run iOS 7, so are not targeted by this fix.
 * Target devices running iOS 8+ will incidentally execute the media query,
 * but this will still produce the expected result; so this is not a problem.
 *
 * As an example, replace:
 *
 *   height: 50vh;
 *   font-size: 5vmin;
 *
 * with:
 *
 *   @include viewport-unit(height, 50vh);
 *   @include viewport-unit(font-size, 5vmin);
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

html, body {
  height: 100%; }

html {
  font-family: "Open Sans", Helvetica, Arial, Geneva, sans-serif;
  font-size: 100%;
  color: #333;
  -webkit-font-smoothing: antialiased; }

body {
  position: relative;
  height: 100%;
  background-color: #0099ff;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #eeeeee), color-stop(100%, #eeeeee));
  background-image: -moz-linear-gradient(left, #eeeeee, #eeeeee);
  background-image: -webkit-linear-gradient(left, #eeeeee, #eeeeee);
  background-image: linear-gradient(to right, #eeeeee, #eeeeee);
  background-position: 0 100vh;
  background-size: 200%;
  background-repeat: no-repeat; }

div.wrap, .wrap {
  overflow: hidden;
  *zoom: 1;
  width: 60rem;
  margin: 0 auto; }

strong {
  font-weight: 700; }

[class^="icon-"], [class*=" icon-"] {
  height: 2rem;
  width: 2rem;
  display: inline-block;
  fill: currentColor; }

button {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  outline: none; }
  button:hover {
    cursor: pointer; }

.colab-red {
  background-color: #ff6633 !important;
  color: #fff !important; }
  .colab-red:hover {
    background-color: #fff !important;
    color: #0099ff !important; }

.about {
  background-color: #336699 !important;
  color: #fff !important; }
  .about:hover {
    background-color: #fff !important;
    color: #0099ff !important; }

.blue {
  background-color: #0099ff !important;
  color: inherit !important; }
  .blue:hover {
    background-color: #fff !important;
    color: #0099ff !important; }

.blue-light {
  background-color: #00ffff !important;
  color: inherit !important; }
  .blue-light:hover {
    background-color: #fff !important;
    color: #0099ff !important; }

.yellow-light {
  background-color: #ffff00 !important;
  color: inherit !important; }
  .yellow-light:hover {
    background-color: #fff !important;
    color: #0099ff !important; }

.white {
  background-color: #fff !important;
  color: #0099FF !important; }
  .white:hover {
    background-color: #fff !important;
    color: #0099ff !important; }

header.main-header {
  overflow: hidden;
  *zoom: 1;
  height: 10rem;
  position: relative; }
  header.main-header h1.logo {
    float: left; }
    header.main-header h1.logo a {
      display: block;
      width: 10rem;
      line-height: 10rem; }
      header.main-header h1.logo a img {
        width: inherit;
        vertical-align: middle; }

button.activate-menu {
  float: right;
  margin: 3.6rem 2.5rem;
  background-color: #0099ff;
  width: 3rem;
  height: 3rem;
  -moz-border-radius: 3rem;
  -webkit-border-radius: 3rem;
  border-radius: 3rem; }
  button.activate-menu svg[class^="icon-"], button.activate-menu svg[class*=" icon-"] {
    color: #fff;
    width: 2.5em;
    height: 2.5em; }
  button.activate-menu:hover {
    background-color: #fff; }
    button.activate-menu:hover svg[class^="icon-"], button.activate-menu:hover svg[class*=" icon-"] {
      color: #0099ff; }

nav.main-nav {
  position: fixed;
  z-index: 777;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  visibility: hidden; }
  nav.main-nav a.logo {
    display: block;
    float: left;
    width: 10rem;
    line-height: 10rem; }
    nav.main-nav a.logo img {
      width: inherit;
      vertical-align: middle; }
  nav.main-nav button.activate-menu:hover {
    background-color: #0099ff; }
    nav.main-nav button.activate-menu:hover svg[class^="icon-"], nav.main-nav button.activate-menu:hover svg[class*=" icon-"] {
      color: #fff; }
  nav.main-nav ol.menu {
    float: left;
    width: 100%;
    margin-top: -2rem;
    margin-left: 2rem; }
    nav.main-nav ol.menu li {
      padding-left: 2em; }
      nav.main-nav ol.menu li a {
        display: block;
        float: left;
        clear: both;
        padding: 0 0 1em 1.5em;
        font-size: 2em;
        text-decoration: none;
        text-align: center;
        color: #0099ff;
        background-color: #fff;
        background-image: url("../img/bkg_menu_li.svg");
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 1em; }
      nav.main-nav ol.menu li ol {
        padding-bottom: 1em;
        overflow: hidden;
        float: left;
        clear: both; }
        nav.main-nav ol.menu li ol li a {
          font-size: 1.5em; }
          nav.main-nav ol.menu li ol li a:hover {
            background-position: 0 -100px; }
          nav.main-nav ol.menu li ol li a.active {
            background-position: 0 -200px;
            font-weight: 600; }
        nav.main-nav ol.menu li ol li:last-child a {
          padding-bottom: 0; }
    nav.main-nav ol.menu > li {
      padding-left: 0; }
      nav.main-nav ol.menu > li > a {
        padding: 0 0 0.5em 0;
        background: none; }
  nav.main-nav.active {
    visibility: visible;
    opacity: 1; }

section.banner {
  overflow: hidden;
  *zoom: 1;
  min-height: 10rem;
  margin-top: -10rem;
  background-color: #0099ff; }

@media screen and (min-width: 90rem) {
  div.wrap, .wrap {
    width: 80rem; } }
@media screen and (max-width: 62.5rem) {
  div.wrap, .wrap {
    width: 100%; }

  header.main-header h1.logo {
    margin: 0 2.5rem; }

  nav.main-nav a.logo, nav.main-nav ul.menu {
    margin-left: 2.5rem; } }
.page {
  background-position: 0 10rem; }
  .page article.document {
    font-size: 1.1em;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzNjY5OSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMzNjY5OSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #336699), color-stop(100%, #336699));
    background-image: -moz-linear-gradient(left, #336699, #336699);
    background-image: -webkit-linear-gradient(left, #336699, #336699);
    background-image: linear-gradient(to right, #336699, #336699);
    background-position: 0 0;
    background-size: 100% 40rem;
    background-repeat: no-repeat; }
    .page article.document header {
      height: 20rem;
      color: #fff;
      display: -webkit-flex;
      display: flex; }
      .page article.document header svg {
        height: 10rem;
        width: 10rem;
        padding: 5rem;
        float: left;
        color: #fff; }
      .page article.document header h2 {
        padding: 2.5rem 2.5rem 2.5rem 0;
        font-size: 3em;
        line-height: 1.2em;
        -webkit-align-self: center;
        align-self: center; }
    .page article.document section.page {
      position: relative;
      background-color: #fff; }
      .page article.document section.page aside.sidebar {
        position: absolute;
        top: 2.5rem;
        left: 2.5rem;
        padding: 2.5rem;
        width: 15rem;
        background-color: #e6e6e6;
        margin-right: 2.5rem; }
      .page article.document section.page section.content {
        padding: 2.5rem;
        margin-left: 22.5rem; }
        .page article.document section.page section.content h3 {
          font-size: 2em;
          color: #0099ff;
          padding: 1em 0; }
          .page article.document section.page section.content h3:first-of-type {
            padding-top: 0; }
        .page article.document section.page section.content p {
          line-height: 1.3em;
          font-weight: 400;
          color: #333;
          padding-bottom: 1em; }
