// frontpage.scss
@import "main";

.home {

	//animations
	@include keyframes (brighter) {
	    0% { @include filter(brightness(1.2)); }
	    100% { @include filter(brightness(1)); }
	}

	//
	background-color: $grey-light;

	//
	div.wrap, .wrap {
		width: $mid;
		margin: 0 auto;
	}

	//
	header.main-header {

		h1.logo {
			margin: 1rem 0;
		}

	}//.main-header

	nav a.logo {
		margin-top: 1rem;
	}

	//
	section.banner {

		@include viewport-unit(height, 100vh);
		min-height: 768px;
		margin-top: - $header-height;

		h2.tagline {
			font-size: $font-bigger;
			font-weight: $light;
			color: #fff;
			line-height: 1.2em;
			margin-top: 5em;

			strong {
				font-weight: $medium;
			}

		}
		
/*
		h2.tagline {
			font-size: 3em;
			color: $blue-light;
			text-align: center;
			background: transparent url('../img/logo_shield_blue_light.svg') center bottom no-repeat;
			background-size: 1.8em;
			padding-bottom: 2.2em;
			
			@include viewport-unit(margin-top, 25vh);

			strong {
				display: block;
				color: #fff;
			}
		}
*/

	}//.banner


	//
	section.matrix {
		position: relative;
		z-index: $z-highest;
		margin-top: - $col * 2;

		article {
			position: relative;
			float: left;
	  		height: 0;
	  		font-size: $font-normal;

	  		background-color: #ccc;
	  		color: #333;
	  		@include transition(background-color 0.2s, color 0.2s);

	  		overflow: hidden;

	  		//var
	  		$col2: $col * 2;
	  		$col4: $col * 4;
	  		$col6: $col * 6;

	  		//default
	  		width: $col2;
	  		padding-bottom: $col2;
	  		
			//width
			&.col2 {
				width: $col2;
			}
			&.col4 {
				width: $col4;
			}
			&.col6 {
				width: $col6;
			}
			//height
			&.row2 {
				padding-bottom: $col2;
			}
			&.row4 {
				padding-bottom: $col4;
			}
			&.row6 {
				padding-bottom: $col6;
			}


			//
			svg {
				height: $col;
				width: $col;
				padding: $col / 2;
				float: left;
			}

			header {
				padding: $padding-normal;

				h3 {
					font-size: 2em;
					font-weight: $medium;
					padding-bottom: 0.5em;
					//word-wrap: break-word;
				}

				p {
					line-height: 1.2em;
				}
			}


			> a {
				position: absolute;
				left: 1em; top: 1em;
				color: transparent;

			}


			//actions
			&:hover {
	    		//@include animation(brighter 0.8s ease forwards);
	    		//@include filter(brightness(1.2));
	    		background-color: #fff;
				color: $blue;
	    		cursor: pointer;

	    		a {
	    			opacity: 1;
	    		}
			}


		}//article
	}//.matrix


	// RESPONSIVE

	// Wide 1280px + 160px
	@media screen and (min-width: $wide + $col) {

		header.main-header {

		}

		section.banner {
			h2.tagline {

				/*
				@include viewport-unit(margin-top, 20vh);
				font-size: 4em;
				*/
			}
		}

		div.wrap, .wrap {
			width: $wide;
		}


	}//@media $wide

	// Mid 960px + 40px
	@media screen and (max-width: $mid + $padding-normal) {

		div.wrap, .wrap {
			width: 100%;
		}

		header.main-header {
			h1.logo {
				margin: 1rem $padding-normal;
			}
		}

		nav.main-nav {
			a.logo, ul.menu {
				margin-left: $padding-normal;
			}
		}

		section.banner {
			padding: 0 $padding-normal;
		}

		section.matrix {

			article {
				//var
		  		$col2: 33.333%;
		  		$col4: 66.666%;
		  		$col6: 99.999%;

				&.col2 {
					width: $col2;
				}
				&.col4 {
					width: $col4;
				}
				&.col6 {
					width: $col6;
				}

				header h3 {
					font-size: 3.5vw;
				}
			}
		}



	}//@media $mid

	// Small 800px
	@media screen and (max-width: $small ) {

		section.banner {
			h2.tagline {
				br {
					display: none;
				}
			}
		}

		section.matrix {

			article {
				//var
		  		$col2: 100%;
		  		$col4: 100%;
		  		$col6: 100%;

				&.col2 {
					width: $col2;
				}
				&.col4 {
					width: $col4;
				}
				&.col6 {
					width: $col6;
				}

				header h3 {
					font-size: 2em;
				}
			}
		}

	}//@media $small



}//end .home

