// main.scss
@import "variables";
@import "compass";
@import "compass/reset";


//
html, body {
	height: 100%;
}

html {
	font-family: "Open Sans", Helvetica, Arial, Geneva, sans-serif;
	font-size: 100%;
	color: #333;
	-webkit-font-smoothing: antialiased;
}

body {
	position: relative;
	height: 100%;
	background-color: $grey-lighter;
	// @include background-image(linear-gradient(to right, $grey-lighter, $grey-lighter ));
	// background-position: 0 100vh;
	// background-size: 10000%;
	// background-repeat: no-repeat;

	//@include background-image(linear-gradient(135deg, $colab-blue, $blue-light ));
}

div.wrap, .wrap {
	@include clearfix;
	width: $mid;
	margin: 0 auto;
}

strong {
	font-weight: $bold;
}

// Styles for svg icons
[class^="icon-"], [class*=" icon-"] {
    height: 2rem;
    width: 2rem;
    display: inline-block; 
    fill: currentColor; 
}

// Buttons
button {
	font-family: "Open Sans", Helvetica, Arial, Geneva, sans-serif;
	background-color: transparent;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;

	&:hover {
		cursor: pointer;
	}

	&.round {
		width: 3.5rem;
		height: 3.5rem;
		background-color: $blue;
		@include transition(background-color 0.2s);
		@include border-radius(50%);
		//@include box-shadow(rgba(0, 0, 0, 0.1) 0 0.5rem 0.5rem 0);

		svg {
			padding-top: 0.1em;
			fill: $white;
			width: 1.6rem;
		}

		&:hover {
			background-color: $blue-dark;
			svg {
				fill: $white;
			}
		}
	}

	&.plus,
	&.close {
		svg {
			width: 1.4rem;
		}
	}

}

a.button,
button.button {
	display: block;
	text-decoration: none;
	background-color: $blue;
	@include transition(background-color 0.2s);
	color: $white;

	@include display-flex;
	@include align-items(center);
	@include justify-content(center);

	&:hover {
		background-color: $blue-dark;
	}

	&.small {
		line-height: 2em;
		padding: 0 1em;

		font-size: $font-small;
		font-weight: $medium;

		border: $blue 1.5px solid;
		@include border-radius($radius-small);

		&:hover {
			border-color: $blue-dark;
		}
	}

	&.transparent {
		background-color: transparent;
		color: $blue;

		&:hover {
			color: $blue-dark !important;
			border-color: $blue-dark;
		}
	}
}

//
div.cta-box {
	background-color: $grey-lightest;
	//@include box-shadow($grey-light 0 0 3px);
	@include border-radius($radius-small);
	height: 3.5rem;
	@include display-flex;
	font-size: $font-plus;

	> span {
		display: block;
		float: left;
		width: 75%;
		@include display-flex;
		@include align-items(center);

	}

	svg {
		fill: $blue;
		margin-left: 1rem;
	}

	p {
		margin-left: 1rem;
		a {
			text-decoration: none;
			font-weight: $medium; 
			color: $blue;

			&:hover {
				color: $blue-dark;
			}
		}
	}
	form {
		width: 100%;
	}
	input[type="text"] {
		width: 95%;
		padding: 0 1rem;
		color: $grey-dark;
		background-color: transparent;

		&:focus {
			color: $grey-darkest;
		}
	}

	.button {
		float: left;
		width: 25%;
		min-width: $col;
		font-size: $font-plus;
		font-weight: $medium !important;
		color: $white;
		@include border-right-radius($radius-small);

		svg {
			fill: $white;
			margin: 0 1rem 0 -1rem;
		}

		&:hover {
			color: $white;
		}
	}
}

//
div.overlay,
.overlay {
	position: fixed;
	z-index: $z-highest;
	top: 0; right: 0; bottom: 0;  left: 0;
	height: 100%; width: 100%;
	background-color: rgba(255, 255, 255, 0.95);
	
	//
	opacity: 0;
	@include transition(opacity 0.2s);
	visibility: hidden;

	&.active {
		visibility: visible;
		opacity: 1;
	}

	div.wrap {
		position: relative;
		

		height: 1000px;
	}

	button.close {
		position: absolute;
		top: 3.4rem;
		right: $padding-normal;

	}


}

// MATRIX
//
section.matrix, {

	article {
		position: relative;
		float: left;
  		height: 0;
  		font-size: $font-normal;

  		background-color: #ccc;
  		color: #333;
  		@include transition(background-color 0.2s, color 0.2s);

  		overflow: hidden;

  		//var
  		$col2: $col * 2;
  		$col4: $col * 4;
  		$col6: $col * 6;

  		//default
  		width: $col2;
  		padding-bottom: $col2;
  		
		//width
		&.col2 {
			width: $col2;
		}
		&.col4 {
			width: $col4;
		}
		&.col6 {
			width: $col6;
		}
		//height
		&.row2 {
			padding-bottom: $col2;
		}
		&.row4 {
			padding-bottom: $col4;
		}
		&.row6 {
			padding-bottom: $col6;
		}


		//
		svg {
			height: $col;
			width: $col;
			padding: $col / 2;
			float: left;
		}

		header {
			padding: $padding-normal;

			h3 {
				font-size: $font-bigger;
				font-weight: $medium;
				padding-bottom: 0.5em;
				//word-wrap: break-word;
			}

			p {
				line-height: 1.2em;
			}
		}


		> a {
			position: absolute;
			left: 1em; top: 1em;
			color: transparent;

		}


		//actions
		&:hover {
    		//@include animation(brighter 0.8s ease forwards);
    		//@include filter(brightness(1.2));
    		background-color: #fff;
			color: $blue;
    		cursor: pointer;

    		a {
    			opacity: 1;
    		}
		}


	}//article
}//.matrix

//

//creates a class for each tag in array $tags (variables.scss)
@each $key, $tag in $tags {
	.#{$key} {
		background-color: map-deep-get($tags, $key, 'background-color') !important;
		color: map-deep-get($tags, $key, 'color') !important;

		&:hover {
			background-color: #fff !important;
			color: $blue !important;
		}
	}
}


//
header.main-header {

	@include clearfix;
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: $z-highest;
	overflow: visible;
	background-color: $grey-lightest;
	width: $header-width;
	padding: 0 $padding-normal;

	h1.logo {
		
		a {
			display: block;
			width: $col;
			line-height: $col;

			img {
				width: inherit;
				vertical-align: middle;
			}
		}
	}

	// Main navigation
	nav.main-nav {
		
		ol.menu {
			border-top: $grey-light 0.5rem solid;
			padding-top: 1rem;

			li {

				a {
					display: block;
					line-height: $padding-normal;
					font-size: $font-plus;
					text-decoration: none;
					color: $grey-dark;
					@include transition (color 0.2s);

					&:hover, &:active, &.active {
						color: $blue;
					}

				}
			}
		}

		div.log-in {
			margin-bottom: $padding-normal;
			a.log-in,
			a.log-out {

			}
		}

	}

	button.open-menu {
		position: absolute;
		top: 3.4rem; right: -1.75rem;
		background-color: $white;

		svg {
			fill: $blue;
			width: 2.5em;
			height: 2.5em;
		} 

		&:hover {
			background-color: $grey-light;

		}
	}

	

}//.main-header

div.alt-logo {
	position: absolute;
	z-index: $z-high;
	padding-left: $padding-normal;

	div.logo {
		a {
			display: block;
			float: left;
			width: $col;
			line-height: $col;

			img {
				width: inherit;
				vertical-align: middle;
			}
		}
	}

}





//
section.banner {

	@include clearfix;
	min-height: $cover-height;
	margin-top: - $header-height;
	background-color: $blue;

}//.banner


//
footer.main-footer {
	height: 500px;
}

// FORMS

form, .form {
	input, 
	button, 
	textarea {
		font: inherit;
		display: block;
		color: #333;
		line-height: 2.5rem;
		padding: 0 0.7rem;
		border: none;
		outline: none;
	}

	textarea { 
		line-height: 1.5em;
		resize: none;
	}

	legend,
	label {
		display: none;
	}

	input[type="submit"],
	input[type="button"],
	button {
		display: block;
		float: right;
		line-height: 2em;
		padding: 0 1em;

		text-decoration: none;
		font-size: $font-small;
		font-weight: $medium;
		color: $white;

		background-color: $blue;
		border: $blue 1.5px solid;
		@include border-radius($radius-small);
		cursor: pointer;

		&:hover {
			background-color: $blue-dark;
			border-color: $blue-dark;
		}
	}


}

// RESPONSIVE

// if smaller than 1280px
@media screen and ( max-width: $wide ) {
	// body {
	// 	padding-left: 0 !important;
	// }

	// header.main-header {
	// 	display: none !important;
	// }

	div.alt-nav {
		display: block;
	}

	div.wrap, .wrap {
		width: $mid;
	}

}//@media $wide

// if smaller then 960px + 40px
@media screen and (max-width: $mid + $padding-normal) {


	nav.main-nav {

	}

}//@media $mid

// if smaller then 800px
@media screen and (max-width: $small ) {




}//@media $small

// if smaller then 414px
@media screen and (max-width: $mobile ) {

	div.cta-box {
		input {
			width: 85% !important;
		}
		p {
			margin: 0 1rem;
			font-size: $font-normal;
		}
	}

	//
	header.main-header div > button.open-menu,

	nav.main-nav {

	}


}//@media $mobile





