// page.scss
@import "main";
@import "compass/layout/stretching";


body.page {

	background-position: 0 $col;

	article.document {
		position: relative;
		font-size: $font-normal;

		> figure {
			position: absolute;
			z-index: $z-lowest;
			left: 0;
			right: 0;
			top: 0;
			width: 100%;
			height: 100vh;
			min-height: 860px;
			overflow: hidden;
			@include display-flex;

			img {
				@include align-self(center);
				width: 100%;
				min-height: 860px;
			}
		}

		&:not(:nth-of-type(1)) {
			> figure {
				top: -$col;
				height: $col * 4;
			}
		}

		> header {
			@include background-image(linear-gradient(to right, $blue-dark, $blue-dark ));
			background-position: 0 $header-height;
			background-size: 100% 100vh;
			background-repeat: no-repeat;

			div.wrap {
				position: relative;
				z-index: $z-low;
				min-height: $col * 4;
				height: 100vh;
				margin-top: -$header-height;
			}


			h1 {
				font-size: $font-biggest;
				color: $white;
				line-height: 1.2em;
				padding: $padding-normal;
				margin-top: $header-height;

				position: absolute;
				left: 0;
				bottom: $col * 2;
			}

		}

		section.page {

			position: relative;
			margin-top: - $col * 2;
			z-index: $z-high;
			background-color: $white;
			@include border-radius(4px);
			overflow: visible;

			button.share {
				position: absolute;
				top: $padding-normal;
				right: - 1.75rem;
			}
			

			section.content {
				
				padding: $padding-normal;

				h1, h2, h3 {
					font-size: $font-bigger;
					font-weight: $light;
					color: $blue;
					line-height: 1.2em;
					padding: 1em 0;

					strong {
						font-weight: $medium;
					}

					&:first-of-type {
						padding-top: 0;
					}

				}

				p {
					line-height: 1.5em;
					font-weight: $regular;
					color: #333;
					padding-bottom: 1em;
				}
			}


			/*
			aside.sidebar {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				width: ($col * 2);
				@include transition(width 0.1s ease-in);
				min-height: $col;

				background-color: $grey-lighter;
				overflow: hidden;

				button.open-sidebar {
					position: absolute;
					left: 0;
					top: 0;
					bottom: 0;
					width: $padding-normal;

					background-color: $grey-lighter;
					@include transition(background-color 0.2s);

					&:hover {
						background-color: $grey;
					}

					display: none;
				}

				&.open {
					width: ($col * 2);
					//@include box-shadow(rgba(0, 0, 0, 0.5) 0 0 20px);
				}
			}
			*/

			div.article-meta {
				margin: 0 $padding-normal $padding-normal $padding-normal;

				time {
					font-weight: $medium;
				}
				
			}

			section.comments {
				position: relative;
				background-color: $grey-lightest;
				padding: ($padding-normal*2) $padding-normal $padding-normal $padding-normal;

				button.comments {
					position: absolute;
					top: - 1.75rem;
					left: $padding-normal;
				}

				> header {
					margin-bottom: $padding-normal;
					@include clearfix;

					svg {
						float: left;
						margin-right: 0.5em;
					}

					h3 {
						font-size: $font-big;
						float: left;

						span {
							font-size: 0.8em;
							font-weight: $medium;
						}
					}

				}



				div.must-log-in {
					margin-bottom: $padding-normal;
					background-color: $white;
				}

				

				article.comment {
					margin-bottom: $padding-normal;
					background-color: $white;
					//border: $grey-lighter 1px solid;
					@include box-shadow($grey 0 0 3px);
					@include border-radius($radius-small);
					padding: 1em;

					header {
						@include clearfix;
						margin-bottom: 0.5em;

						svg {
							float: left;
							fill: $grey-dark;
							margin-right: 0.5em;
						}

						span.meta {
							float: left;

							a.author {
								display: block;
								font-size: $font-small;
								text-decoration: none;
								color: $blue;
								font-weight: $medium;
							}
							time {
								display: block;
								line-height: 1.5em;
								font-size: $font-smaller;
								color: $grey-dark;
							}
						}
					}

					p {
						font-size: $font-small;
						line-height: 1.5em;
						padding-bottom: 1em;
					}
				}

				div.comment-respond {

					form {
						input[type="text"],
						textarea {
							width: $mid - (2 * $padding-normal) - (2 * 0.7rem);
							margin-bottom: 0.5em;
						}
					}

				}

				
			}



		} // section.page

	} // body.page



	// RESPONSIVE

	// Smaller than 1280px + 160px
	@media screen and (max-width: $wide + ($padding-normal*2)) {

		article.document {
			figure {
				img {
					height: 100vh;
					width: auto;
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
				}
			}
			
		}


	}//@media $wide

	// Smaller then 960px + 40px
	@media screen and (max-width: $mid + $padding-normal) {


	}//@media $mid

	// Smaller then 800px
	@media screen and (max-width: $small ) {


	}//@media $small


}//end .page