// page.scss
@import "main";
@import "compass/layout/stretching";


.page {

	background-position: 0 $col;

	header.main-header {
		//margin-bottom: $col;
	}

	article.document {

		font-size: $font-normal;
		@include background-image(linear-gradient(to right, $colab-blue, $colab-blue ));
		background-position: 0 0;
		background-size: 100% ($col * 4);
		background-repeat: no-repeat;

		header {
			height: $col * 2;
			color: $white;
			@include display-flex;

			svg {
				height: $col;
				width: $col;
				padding: $col / 2;
				float: left;
				color: $white;
			}

			h2 {
				padding: $padding-normal $padding-normal $padding-normal 0;
				font-size: $font-biggest;
				line-height: 1.2em;
				@include align-self(center);
			}
		}

		section.page {

			position: relative;

			aside.sidebar {
				position: absolute;
				left: 0;
				top: 0;
				float: left;
				width: $col * 2;
				height: 100%;
				background-color: $grey-lighter;
				margin-right: $padding-normal;
			}

			section.content {
				background-color: $white;
				padding: $padding-normal;
				margin-left: $col * 2;

				h3 {
					font-size: $font-bigger;
					color: $blue;
					padding: 1em 0;

					&:first-of-type {
						padding-top: 0;
					}
				}

				p {
					line-height: 1.3em;
					font-weight: $regular;
					color: #333;
					padding-bottom: 1em;
				}
			}

		}

		

	}



	// RESPONSIVE

	// Larger than 1280px + 160px 
	@media screen and (min-width: $wide + $col) {


	}//@media $wide

	// Smaller then 960px + 40px
	@media screen and (max-width: $mid + $padding-normal) {


	}//@media $mid

	// Smaller then 800px
	@media screen and (max-width: $small ) {


	}//@media $small


}//end .page